{%extends 'base.html'%}

{% block content%}
<h3>details</h3>
<div>
    <img src="{{blog.img}}" alt="{{blogs.title}}" width="50%" height="500px">
    <h2>{{blog.writer}}</h2>
    <h4>{{blog.title}}</h4>
    <p>{{blog.body}}</p>
    
</div>
<div>
    <h3> <strong style="text-decoration: underline;">Comments</strong></h3>
    <p>{% for com in blog.comments.all%}</p>
    <span> {{forloop.counter}} </span>
    <span>{{com.content}}</span> <br>
    <span> Commented by - {{com.commentor}} at {{com.time}}</span>
    {% endfor %}



    <!-- {% if blog.pk == comments.article_id %} -->

    <!-- {% for comment in blog.comments.all %}
    <span>{{forloop.counter}}</span>
    <h2>{{ comment.content }}</h2>
    {% endfor %} -->

    <!-- {% for comment in comments %}
    <h2>{{ comments.content }}</h2>
    {% endfor %}
     -->
    <!-- {% endif %} -->
    

</div>
{% if user.is_authenticated%}
<a href="{% url 'comment' blog.pk %}">Add a Comment</a> 
<a href="{% url 'blog_comments' blog.pk %}">View Comments</a> <br>

{% if blog.user_id == user.id %}
    <!-- <a href="{% url 'blog_update' blog.pk %}">Update {{blog.title}}</a> 
    <a href="{% url 'blog_delete' blog.pk %}">Delete {{blog.title}}</a> -->
    <br>
{% endif%}
{% endif%}
<br>

{%endblock%}