{%extends 'base.html'%}

{% block content%}
<h3>details</h3>
<div>
    <img src="{{blog.img}}" alt="{{blogs.title}}" width="50%" height="500px">
    <h2>{{blog.writer}}</h2>
    <h4>{{blog.title}}</h4>
    <p>{{blog.body}}</p>
    
</div>
<div>
    <h3> <strong style="text-decoration: underline;">Comments</strong></h3>
    <p>{% for com in blog.comments.all%}</p>
    <span> {{forloop.counter}}. </span>
    <span> Commented by - {{com.commentor}} at {{com.time}}</span> <br>
    <span>{{com.content}}</span> <br>
    {% empty %}
        <h4>No Comments Yet</h4>
    {% endfor %}

</div>
{% if user.is_authenticated%}
<br>
<!-- <a href="{% url 'comment' blog.pk %}">Add a Comment</a> <br> -->
<form action="{% url 'comment' blog.pk %}" method="post">
    {% csrf_token %}
    <input type="text" name="content" placeholder="share your comment">
    <input type="submit" value="comment">

</form>

{% if blog.user_id == user.id %}
    <a href="{% url 'blog_update' blog.pk %}">Update {{blog.title}}</a> 
    <a href="{% url 'blog_delete' blog.pk %}">Delete {{blog.title}}</a>
    <br>
{% endif%}
{% endif%}
<br>

{%endblock%}